@import "tailwindcss";
@import "tw-animate-css";

@theme {

    /* Custom Colors */
  --color-primary: #1c1c22;

  --color-accent: #00ff99;
  --color-accent-hover: #00e187;

  /* Container customization */
  --container-padding: 15px;
  --container-center: true;

  /* Custom screen (breakpoint) */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 960px;
  --screen-xl: 1200px;

  /* font-customization */
  --font-primary: ${jetBrainsMono.variable};

  /* Accordion animation keyframes */
  @keyframes accordion-down {
    from { height: 0; }
    to { height: var(--radix-accordion-content-height); }
  }

  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height); }
    to { height: 0; }
  }

  /* Animation shortcuts */
  --animation-accordion-down: accordion-down 0.2s ease-out;
  --animation-accordion-up: accordion-up 0.2s ease-out;
}

@layer base {
  body {
    font-family: var(--font-jetbrainsMono), monospace;
    background-color: var(--color-primary);
    color: white;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] font-semibold leading-[1.1];
  }
  .h2 {
    @apply text-[36px] xl:text-[40px] font-semibold leading-[1.1];
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] font-semibold leading-[1.1];
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
    transition: -webkit-text-stroke 0.5s ease;
  }

  .group:hover .text-outline {
    -webkit-text-stroke: 1px #00ff99;
  }
}
